@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr 1fr 4fr 1fr;
    gap: 5px;
    height: 100vh;
    text-align: center;
    padding: 10px;
}

header{
    grid-column: 1 / -1;
    background-color: #ff5733;
    border-radius: 5px;
}
nav{
    grid-column: 1 / -1;
    background-color: #33ff57;
    border-radius: 5px;
}

section{
    grid-column: 1 / 3;
    background-color: #3357ff;
    border-radius: 5px;
}

article{
    grid-column: 3 / -1;
    background-color: #f1c40f;
    border-radius: 5px;
}

footer{
    grid-column: 1 / -1;
    background-color: #8e44ad;
    border-radius: 5px;
}
